@layer reset {
    * {
        margin: 0;
        padding: 0
    }

    html, body {
        min-height: 100%;
    }
}

@layer utilities {
    .outline {outline: 1px solid var(--outline-color)}
    .outline-red {outline-color: red}

    .p-1 {padding: 0.5rem}
    .p-2 {padding: 1rem}
    .p-3 {padding: 1.5rem}
    .p-4 {padding: 2.0rem}
    .p-5 {padding: 2.5rem}

    .mt-1 {margin-top: 0.5rem}
    .mt-2 {margin-top: 1rem}
    .mt-3 {margin-top: 1.5rem}
    .mt-4 {margin-top: 2.0rem}
    .mt-5 {margin-top: 2.5rem}

    .mb-1 {margin-bottom: 0.5rem}
    .mb-2 {margin-bottom: 1rem}
    .mb-3 {margin-bottom: 1.5rem}
    .mb-4 {margin-bottom: 2.0rem}
    .mb-5 {margin-bottom: 2.5rem}

    .ml-1 {margin-left: 0.5rem}
    .ml-2 {margin-left: 1rem}
    .ml-3 {margin-left: 1.5rem}
    .ml-4 {margin-left: 2.0rem}
    .ml-5 {margin-left: 2.5rem}

    .mr-1 {margin-right: 0.5rem}
    .mr-2 {margin-right: 1rem}
    .mr-3 {margin-right: 1.5rem}
    .mr-4 {margin-right: 2.0rem}
    .mr-5 {margin-right: 2.5rem}

    .rounded-1 {border-radius: 0.25rem}
    .rounded-2 {border-radius: 0.50rem}
    .rounded-3 {border-radius: 0.75rem}
    .rounded-4 {border-radius: 1.00rem}
    .rounded-5 {border-radius: 1.25rem}
    .rounded-full {border-radius: 100%}

    .childs\:rounded-1 > * {border-radius: 0.25rem}
    .childs\:rounded-2 > * {border-radius: 0.50rem}
    .childs\:rounded-3 > * {border-radius: 0.75rem}
    .childs\:rounded-4 > * {border-radius: 1.00rem}
    .childs\:rounded-5 > * {border-radius: 1.25rem}
    .childs\:rounded-full > * {border-radius: 100%}

    .flex-row {display:flex;flex-direction: row}
    .flex-col {display:flex;flex-direction: column}
    .flex-wrap {flex-wrap: wrap}
    .flex-shrink-0 {flex-shrink: 0}
    .flex-shrink-1 {flex-shrink: 1}
    .flex-grow-0 {flex-grow: 0}
    .flex-grow-1 {flex-grow: 1}

    .gap-1 {gap: 0.5rem}
    .gap-2 {gap: 1.0rem}
    .gap-3 {gap: 1.5rem}
    .gap-4 {gap: 2.0rem}
    .gap-5 {gap: 2.5rem}

    .grid {display: grid}
    .block {display: block}
    .inline-block {display: inline-block}

    .grid-cols-1 {grid-template-columns: 1fr};
    .grid-cols-2 {grid-template-columns: 1fr 1fr};
    .grid-cols-3 {grid-template-columns: repeat(3, 1fr)};
    .grid-cols-4 {grid-template-columns: repeat(4, 1fr)};
    .grid-cols-5 {grid-template-columns: repeat(5, 1fr)};
    .grid-cols-6 {grid-template-columns: repeat(6, 1fr)};
    .grid-cols-7 {grid-template-columns: repeat(7, 1fr)};
    .grid-cols-8 {grid-template-columns: repeat(8, 1fr)};

    .justify-center {justify-content: center}
    .justify-start {justify-content: flex-start}
    .justify-end {justify-content: flex-end}
    .justify-space-between {justify-content: space-between}
    .justify-items-center {justify-items: center}

    .place-content-center {place-content: center}

    .item-start {align-items: flex-start}
    .item-end {align-items: flex-end}
    .item-center {align-items: center}

    .text-center {text-align: center}
    .text-left {text-algin: left}
    .text-right {text-align: right}

    .hidden {display: none}
    .invisible {visibility: hidden}

    .opacity-0 {opacity: 0}
    .opacity-1 {opacity: 1}
}

@layer decorator {
    .hilight {
        background-color: var(--yellow-300);
        padding: 0 0.25rem;
    }

    [data-theme="dark"] {
        .hilight {
            background-color: var(--yellow-300);
            color: var(--neutral-300);        
        }
    }
}

@layer base-color {
    :root {
        --gray-0: hsl(0 0% 100%);
        --gray-50: hsl(0 0% 97.5%);
        --gray-100: hsl(240 4.8% 95.9%);
        --gray-200: hsl(240 5.9% 90%);
        --gray-300: hsl(240 4.9% 83.9%);
        --gray-400: hsl(240 5% 64.9%);
        --gray-500: hsl(240 3.8% 46.1%);
        --gray-600: hsl(240 5.2% 33.9%);
        --gray-700: hsl(240 5.3% 26.1%);
        --gray-800: hsl(240 3.7% 15.9%);
        --gray-900: hsl(240 5.9% 10%);
        --gray-950: hsl(240 7.3% 8%);

        --red-50: hsl(0 85.7% 97.3%);
        --red-100: hsl(0 93.3% 94.1%);
        --red-200: hsl(0 96.3% 89.4%);
        --red-300: hsl(0 93.5% 81.8%);
        --red-400: hsl(0 90.6% 70.8%);
        --red-500: hsl(0 84.2% 60.2%);
        --red-600: hsl(0 72.2% 50.6%);
        --red-700: hsl(0 73.7% 41.8%);
        --red-800: hsl(0 70% 35.3%);
        --red-900: hsl(0 62.8% 30.6%);
        --red-950: hsl(0 60% 19.6%);

        --orange-50: hsl(33.3 100% 96.5%);
        --orange-100: hsl(34.3 100% 91.8%);
        --orange-200: hsl(32.1 97.7% 83.1%);
        --orange-300: hsl(30.7 97.2% 72.4%);
        --orange-400: hsl(27 96% 61%);
        --orange-500: hsl(24.6 95% 53.1%);
        --orange-600: hsl(20.5 90.2% 48.2%);
        --orange-700: hsl(17.5 88.3% 40.4%);
        --orange-800: hsl(15 79.1% 33.7%);
        --orange-900: hsl(15.3 74.6% 27.8%);
        --orange-950: hsl(15.2 69.1% 19%);

        --amber-50: hsl(48 100% 96.1%);
        --amber-100: hsl(48 96.5% 88.8%);
        --amber-200: hsl(48 96.6% 76.7%);
        --amber-300: hsl(45.9 96.7% 64.5%);
        --amber-400: hsl(43.3 96.4% 56.3%);
        --amber-500: hsl(37.7 92.1% 50.2%);
        --amber-600: hsl(32.1 94.6% 43.7%);
        --amber-700: hsl(26 90.5% 37.1%);
        --amber-800: hsl(22.7 82.5% 31.4%);
        --amber-900: hsl(21.7 77.8% 26.5%);
        --amber-950: hsl(22.9 74.1% 16.7%);

        --yellow-50: hsl(54.5 91.7% 95.3%);
        --yellow-100: hsl(54.9 96.7% 88%);
        --yellow-200: hsl(52.8 98.3% 76.9%);
        --yellow-300: hsl(50.4 97.8% 63.5%);
        --yellow-400: hsl(47.9 95.8% 53.1%);
        --yellow-500: hsl(45.4 93.4% 47.5%);
        --yellow-600: hsl(40.6 96.1% 40.4%);
        --yellow-700: hsl(35.5 91.7% 32.9%);
        --yellow-800: hsl(31.8 81% 28.8%);
        --yellow-900: hsl(28.4 72.5% 25.7%);
        --yellow-950: hsl(33.1 69% 13.9%);

        --lime-50: hsl(78.3 92% 95.1%);
        --lime-100: hsl(79.6 89.1% 89.2%);
        --lime-200: hsl(80.9 88.5% 79.6%);
        --lime-300: hsl(82 84.5% 67.1%);
        --lime-400: hsl(82.7 78% 55.5%);
        --lime-500: hsl(83.7 80.5% 44.3%);
        --lime-600: hsl(84.8 85.2% 34.5%);
        --lime-700: hsl(85.9 78.4% 27.3%);
        --lime-800: hsl(86.3 69% 22.7%);
        --lime-900: hsl(87.6 61.2% 20.2%);
        --lime-950: hsl(86.5 60.6% 13.9%);

        --green-50: hsl(138.5 76.5% 96.7%);
        --green-100: hsl(140.6 84.2% 92.5%);
        --green-200: hsl(141 78.9% 85.1%);
        --green-300: hsl(141.7 76.6% 73.1%);
        --green-400: hsl(141.9 69.2% 58%);
        --green-500: hsl(142.1 70.6% 45.3%);
        --green-600: hsl(142.1 76.2% 36.3%);
        --green-700: hsl(142.4 71.8% 29.2%);
        --green-800: hsl(142.8 64.2% 24.1%);
        --green-900: hsl(143.8 61.2% 20.2%);
        --green-950: hsl(144.3 60.7% 12%);

        --emerald-50: hsl(151.8 81% 95.9%);
        --emerald-100: hsl(149.3 80.4% 90%);
        --emerald-200: hsl(152.4 76% 80.4%);
        --emerald-300: hsl(156.2 71.6% 66.9%);
        --emerald-400: hsl(158.1 64.4% 51.6%);
        --emerald-500: hsl(160.1 84.1% 39.4%);
        --emerald-600: hsl(161.4 93.5% 30.4%);
        --emerald-700: hsl(162.9 93.5% 24.3%);
        --emerald-800: hsl(163.1 88.1% 19.8%);
        --emerald-900: hsl(164.2 85.7% 16.5%);
        --emerald-950: hsl(164.3 87.5% 9.4%);

        --teal-50: hsl(166.2 76.5% 96.7%);
        --teal-100: hsl(167.2 85.5% 89.2%);
        --teal-200: hsl(168.4 83.8% 78.2%);
        --teal-300: hsl(170.6 76.9% 64.3%);
        --teal-400: hsl(172.5 66% 50.4%);
        --teal-500: hsl(173.4 80.4% 40%);
        --teal-600: hsl(174.7 83.9% 31.6%);
        --teal-700: hsl(175.3 77.4% 26.1%);
        --teal-800: hsl(176.1 69.4% 21.8%);
        --teal-900: hsl(175.9 60.8% 19%);
        --teal-950: hsl(176.5 58.6% 11.4%);

        --cyan-50: hsl(183.2 100% 96.3%);
        --cyan-100: hsl(185.1 95.9% 90.4%);
        --cyan-200: hsl(186.2 93.5% 81.8%);
        --cyan-300: hsl(187 92.4% 69%);
        --cyan-400: hsl(187.9 85.7% 53.3%);
        --cyan-500: hsl(188.7 94.5% 42.7%);
        --cyan-600: hsl(191.6 91.4% 36.5%);
        --cyan-700: hsl(192.9 82.3% 31%);
        --cyan-800: hsl(194.4 69.6% 27.1%);
        --cyan-900: hsl(196.4 63.6% 23.7%);
        --cyan-950: hsl(196.8 61% 16.1%);

        --sky-50: hsl(204 100% 97.1%);
        --sky-100: hsl(204 93.8% 93.7%);
        --sky-200: hsl(200.6 94.4% 86.1%);
        --sky-300: hsl(199.4 95.5% 73.9%);
        --sky-400: hsl(198.4 93.2% 59.6%);
        --sky-500: hsl(198.6 88.7% 48.4%);
        --sky-600: hsl(200.4 98% 39.4%);
        --sky-700: hsl(201.3 96.3% 32.2%);
        --sky-800: hsl(201 90% 27.5%);
        --sky-900: hsl(202 80.3% 23.9%);
        --sky-950: hsl(202.3 73.8% 16.5%);

        --blue-50: hsl(213.8 100% 96.9%);
        --blue-100: hsl(214.3 94.6% 92.7%);
        --blue-200: hsl(213.3 96.9% 87.3%);
        --blue-300: hsl(211.7 96.4% 78.4%);
        --blue-400: hsl(213.1 93.9% 67.8%);
        --blue-500: hsl(217.2 91.2% 59.8%);
        --blue-600: hsl(221.2 83.2% 53.3%);
        --blue-700: hsl(224.3 76.3% 48%);
        --blue-800: hsl(225.9 70.7% 40.2%);
        --blue-900: hsl(224.4 64.3% 32.9%);
        --blue-950: hsl(226.2 55.3% 18.4%);

        --indigo-50: hsl(225.9 100% 96.7%);
        --indigo-100: hsl(226.5 100% 93.9%);
        --indigo-200: hsl(228 96.5% 88.8%);
        --indigo-300: hsl(229.7 93.5% 81.8%);
        --indigo-400: hsl(234.5 89.5% 73.9%);
        --indigo-500: hsl(238.7 83.5% 66.7%);
        --indigo-600: hsl(243.4 75.4% 58.6%);
        --indigo-700: hsl(244.5 57.9% 50.6%);
        --indigo-800: hsl(243.7 54.5% 41.4%);
        --indigo-900: hsl(242.2 47.4% 34.3%);
        --indigo-950: hsl(243.5 43.6% 22.9%);

        --violet-50: hsl(250 100% 97.6%);
        --violet-100: hsl(251.4 91.3% 95.5%);
        --violet-200: hsl(250.5 95.2% 91.8%);
        --violet-300: hsl(252.5 94.7% 85.1%);
        --violet-400: hsl(255.1 91.7% 76.3%);
        --violet-500: hsl(258.3 89.5% 66.3%);
        --violet-600: hsl(262.1 83.3% 57.8%);
        --violet-700: hsl(263.4 70% 50.4%);
        --violet-800: hsl(263.4 69.3% 42.2%);
        --violet-900: hsl(263.5 67.4% 34.9%);
        --violet-950: hsl(265.1 61.5% 21.4%);

        --purple-50: hsl(270 100% 98%);
        --purple-100: hsl(268.7 100% 95.5%);
        --purple-200: hsl(268.6 100% 91.8%);
        --purple-300: hsl(269.2 97.4% 85.1%);
        --purple-400: hsl(270 95.2% 75.3%);
        --purple-500: hsl(270.7 91% 65.1%);
        --purple-600: hsl(271.5 81.3% 55.9%);
        --purple-700: hsl(272.1 71.7% 47.1%);
        --purple-800: hsl(272.9 67.2% 39.4%);
        --purple-900: hsl(273.6 65.6% 32%);
        --purple-950: hsl(276 59.5% 16.5%);

        --fuchsia-50: hsl(289.1 100% 97.8%);
        --fuchsia-100: hsl(287 100% 95.5%);
        --fuchsia-200: hsl(288.3 95.8% 90.6%);
        --fuchsia-300: hsl(291.1 93.1% 82.9%);
        --fuchsia-400: hsl(292 91.4% 72.5%);
        --fuchsia-500: hsl(292.2 84.1% 60.6%);
        --fuchsia-600: hsl(293.4 69.5% 48.8%);
        --fuchsia-700: hsl(294.7 72.4% 39.8%);
        --fuchsia-800: hsl(295.4 70.2% 32.9%);
        --fuchsia-900: hsl(296.7 63.6% 28%);
        --fuchsia-950: hsl(297.1 56.8% 14.5%);

        --pink-50: hsl(327.3 73.3% 97.1%);
        --pink-100: hsl(325.7 77.8% 94.7%);
        --pink-200: hsl(325.9 84.6% 89.8%);
        --pink-300: hsl(327.4 87.1% 81.8%);
        --pink-400: hsl(328.6 85.5% 70.2%);
        --pink-500: hsl(330.4 81.2% 60.4%);
        --pink-600: hsl(333.3 71.4% 50.6%);
        --pink-700: hsl(335.1 77.6% 42%);
        --pink-800: hsl(335.8 74.4% 35.3%);
        --pink-900: hsl(335.9 69% 30.4%);
        --pink-950: hsl(336.2 65.4% 15.9%);

        --rose-50: hsl(355.7 100% 97.3%);
        --rose-100: hsl(355.6 100% 94.7%);
        --rose-200: hsl(352.7 96.1% 90%);
        --rose-300: hsl(352.6 95.7% 81.8%);
        --rose-400: hsl(351.3 94.5% 71.4%);
        --rose-500: hsl(349.7 89.2% 60.2%);
        --rose-600: hsl(346.8 77.2% 49.8%);
        --rose-700: hsl(345.3 82.7% 40.8%);
        --rose-800: hsl(343.4 79.7% 34.7%);
        --rose-900: hsl(341.5 75.5% 30.4%);
        --rose-950: hsl(341.3 70.1% 17.1%);

        --success-50: var(--green-50);
        --success-100: var(--green-100);
        --success-200: var(--green-200);
        --success-300: var(--green-300);
        --success-400: var(--green-400);
        --success-500: var(--green-500);
        --success-600: var(--green-600);
        --success-700: var(--green-700);
        --success-800: var(--green-800);
        --success-900: var(--green-900);
        --success-950: var(--green-950);

        --warning-50: var(--amber-50);
        --warning-100: var(--amber-100);
        --warning-200: var(--amber-200);
        --warning-300: var(--amber-300);
        --warning-400: var(--amber-400);
        --warning-500: var(--amber-500);
        --warning-600: var(--amber-600);
        --warning-700: var(--amber-700);
        --warning-800: var(--amber-800);
        --warning-900: var(--amber-900);
        --warning-950: var(--amber-950);

        --danger-50: var(--red-50);
        --danger-100: var(--red-100);
        --danger-200: var(--red-200);
        --danger-300: var(--red-300);
        --danger-400: var(--red-400);
        --danger-500: var(--red-500);
        --danger-600: var(--red-600);
        --danger-700: var(--red-700);
        --danger-800: var(--red-800);
        --danger-900: var(--red-900);
        --danger-950: var(--red-950);

        --neutral-50: var(--gray-50);
        --neutral-100: var(--gray-100);
        --neutral-200: var(--gray-200);
        --neutral-300: var(--gray-300);
        --neutral-400: var(--gray-400);
        --neutral-500: var(--gray-500);
        --neutral-600: var(--gray-600);
        --neutral-700: var(--gray-700);
        --neutral-800: var(--gray-800);
        --neutral-900: var(--gray-900);
        --neutral-950: var(--gray-950);

        --primary: var(--sky-600);
        --primary-50: var(--sky-50);
        --primary-100: var(--sky-100);
        --primary-200: var(--sky-200);
        --primary-300: var(--sky-300);
        --primary-400: var(--sky-400);
        --primary-500: var(--sky-500);
        --primary-600: var(--sky-600);
        --primary-700: var(--sky-700);
        --primary-800: var(--sky-800);
        --primary-900: var(--sky-900);
        --primary-950: var(--sky-950);

        --secondary: var(--lime-600);
        --secondary-50: var(--lime-50);
        --secondary-100: var(--lime-100);
        --secondary-200: var(--lime-200);
        --secondary-300: var(--lime-300);
        --secondary-400: var(--lime-400);
        --secondary-500: var(--lime-500);
        --secondary-600: var(--lime-600);
        --secondary-700: var(--lime-700);
        --secondary-800: var(--lime-800);
        --secondary-900: var(--lime-900);
        --secondary-950: var(--lime-950);

        --accent: var(--orange-600);
        --accent-50: var(--orange-50);
        --accent-100: var(--orange-100);
        --accent-200: var(--orange-200);
        --accent-300: var(--orange-300);
        --accent-400: var(--orange-400);
        --accent-500: var(--orange-500);
        --accent-600: var(--orange-600);
        --accent-700: var(--orange-700);
        --accent-800: var(--orange-800);
        --accent-900: var(--orange-900);
        --accent-950: var(--orange-950);

        --neutral-0: hsl(0, 0%, 100%);
        --neutral-1000: hsl(0, 0%, 0%);

        --bg-color: var(--neutral-0);
        --bg-50: var(--neutral-50);
        --bg-100: var(--neutral-100);
        --bg-200: var(--neutral-200);
        --bg-300: var(--neutral-300);
        --bg-400: var(--neutral-400);

        --text-color: var(--neutral-800);        
        --title-color: var(--neutral-900);
        --header-color: var(--neutral-950);
        --divider-color: var(--neutral-200);
        --card-bg-color: var(--neutral-100);
        --outline-color: var(--neutral-200);
        --button-bg-color: var(--neutral-0);
        --button-outline-color: var(--neutral-200);
        --hover-button-bg-color: var(--neutral-100);
        --icon-color: var(--neutral-400);

        &[data-theme="dark"] {
            --neutral-0: hsl(240 7.3% 8%);
            --neutral-100: hsl(240 5.9% 10%);
            --neutral-200: hsl(240 3.7% 15.9%);
            --neutral-300: hsl(240 5.3% 26.1%);
            --neutral-400: hsl(240 5.2% 33.9%);
            --neutral-500: hsl(240 3.8% 46.1%);
            --neutral-600: hsl(240 5% 64.9%);
            --neutral-700: hsl(240 4.9% 83.9%);
            --neutral-800: hsl(240 5.9% 90%);
            --neutral-900: hsl(240 4.8% 95.9%);
            --neutral-950: hsl(0 0% 97.5%);
            --neutral-1000: hsl(0, 0%, 100%);

            --bg-color: var(--neutral-0);
            --bg-50: var(--neutral-50);
            --bg-100: var(--neutral-100);
            --bg-200: var(--neutral-200);
            --bg-300: var(--neutral-300);
            --bg-400: var(--neutral-400);

            --button-bg-color: var(--neutral-200);
            --button-outline-color: var(--neutral-200);
            --hover-button-bg-color: var(--neutral-300);
            --card-bg-color: var(--neutral-200);
        }
    }
}

:root {
    .bg-100 {background-color: var(--neutral-100)}
    .bg-200 {background-color: var(--neutral-200)}
    .bg-300 {background-color: var(--neutral-300)}
    .bg-400 {background-color: var(--neutral-400)}

    .bg-primary {background-color: var(--primary-600);color:var(--gray-100);--hover-button-bg-color:var(--primary-500);--button-outline-color:var(--primary-600)}
    .bg-secondary {background-color: var(--secondary-600);color:var(--gray-100);--hover-button-bg-color:var(--secondary-500);--button-outline-color:var(--secondary-600)}
    .bg-accent {background-color: var(--accent-600);color:var(--gray-100);--hover-button-bg-color:var(--accent-500);--button-outline-color:var(--accent-600)}
    .bg-success {background-color: var(--success-600);color:var(--gray-100);--hover-button-bg-color:var(--success-500);--button-outline-color:var(--success-600)}
    .bg-warning {background-color: var(--warning-600);color:var(--gray-100);--hover-button-bg-color:var(--warning-500);--button-outline-color:var(--warning-600)}
    .bg-danger {background-color: var(--danger-600);color:var(--gray-100);--hover-button-bg-color:var(--danger-500);--button-outline-color:var(--danger-600)}
    .bg-white {background-color: var(--gray-0);color:var(--gray-800);--hover-button-bg-color:var(--gray-50);--button-outline-color:var(--gray-200)}
    .bg-black {background-color: var(--gray-950);color:var(--gray-100);--hover-button-bg-color:var(--gray-800);--button-outline-color:var(--gray-900)}
    .bg-red {background-color: var(--red-700);color:var(--gray-100);--hover-button-bg-color:var(--red-600);--button-outline-color:var(--red-700)}
    .bg-orange {background-color: var(--orange-600);color:var(--gray-100);--hover-button-bg-color:var(--orange-500);--button-outline-color:var(--orange-600)}
    .bg-amber {background-color: var(--amber-400);color:var(--gray-700);--hover-button-bg-color:var(--amber-300);--button-outline-color:var(--amber-400)}
    .bg-yellow {background-color: var(--yellow-400);color:var(--gray-700);--hover-button-bg-color:var(--yellow-300);--button-outline-color:var(--yellow-400)}
    .bg-lime {background-color: var(--lime-600);color:var(--gray-100);--hover-button-bg-color:var(--lime-500);--button-outline-color:var(--lime-600)}
    .bg-green {background-color: var(--green-600);color:var(--gray-100);--hover-button-bg-color:var(--green-500);--button-outline-color:var(--green-600)}
    .bg-emerald {background-color: var(--emerald-600);color:var(--gray-100);--hover-button-bg-color:var(--emerald-500);--button-outline-color:var(--emerald-600)}
    .bg-teal {background-color: var(--teal-600);color:var(--gray-100);--hover-button-bg-color:var(--teal-500);--button-outline-color:var(--teal-600)}
    .bg-cyan {background-color: var(--cyan-600);color:var(--gray-100);--hover-button-bg-color:var(--cyan-500);--button-outline-color:var(--cyan-600)}
    .bg-sky {background-color: var(--sky-600);color:var(--gray-100);--hover-button-bg-color:var(--sky-500);--button-outline-color:var(--sky-600)}
    .bg-blue {background-color: var(--blue-600);color:var(--gray-100);--hover-button-bg-color:var(--blue-500);--button-outline-color:var(--blue-600)}
    .bg-indigo {background-color: var(--indigo-600);color:var(--gray-100);--hover-button-bg-color:var(--indigo-500);--button-outline-color:var(--indigo-600)}
    .bg-violet {background-color: var(--violet-600);color:var(--gray-100);--hover-button-bg-color:var(--violet-500);--button-outline-color:var(--violet-600)}
    .bg-purple {background-color: var(--purple-600);color:var(--gray-100);--hover-button-bg-color:var(--purple-500);--button-outline-color:var(--purple-600)}
    .bg-fuchsia {background-color: var(--fuchsia-600);color:var(--gray-100);--hover-button-bg-color:var(--fuchsia-500);--button-outline-color:var(--fuchsia-600)}
    .bg-pink {background-color: var(--pink-600);color:var(--gray-100);--hover-button-bg-color:var(--pink-500);--button-outline-color:var(--pink-600)}
    .bg-rose {background-color: var(--rose-600);color:var(--gray-100);--hover-button-bg-color:var(--rose-500);--button-outline-color:var(--rose-600)}

    .bg-primary-light {background-color: var(--primary-50);color:var(--gray-800);--hover-button-bg-color:var(--primary-100);--button-outline-color:var(--primary-200)}
    .bg-secondary-light {background-color: var(--secondary-50);color:var(--gray-800);--hover-button-bg-color:var(--secondary-100);--button-outline-color:var(--secondary-200)}
    .bg-accent-light {background-color: var(--accent-50);color:var(--gray-800);--hover-button-bg-color:var(--accent-100);--button-outline-color:var(--accent-200)}
    .bg-success-light {background-color: var(--success-50);color:var(--gray-800);--hover-button-bg-color:var(--success-100);--button-outline-color:var(--success-200)}
    .bg-warning-light {background-color: var(--warning-50);color:var(--gray-800);--hover-button-bg-color:var(--warning-100);--button-outline-color:var(--warning-200)}
    .bg-danger-light {background-color: var(--danger-50);color:var(--gray-800);--hover-button-bg-color:var(--danger-100);--button-outline-color:var(--danger-200)}

    .bg-red-light {background-color: var(--red-50);color:var(--gray-800);--hover-button-bg-color:var(--red-100);--button-outline-color:var(--red-200)}
    .bg-orange-light {background-color: var(--orange-50);color:var(--gray-800);--hover-button-bg-color:var(--orange-100);--button-outline-color:var(--orange-200)}
    .bg-amber-light {background-color: var(--amber-50);color:var(--gray-800);--hover-button-bg-color:var(--amber-100);--button-outline-color:var(--amber-200)}
    .bg-yellow-light {background-color: var(--yellow-50);color:var(--gray-800);--hover-button-bg-color:var(--yellow-100);--button-outline-color:var(--yellow-200)}
    .bg-lime-light {background-color: var(--lime-50);color:var(--gray-800);--hover-button-bg-color:var(--lime-100);--button-outline-color:var(--lime-200)}
    .bg-green-light {background-color: var(--green-50);color:var(--gray-800);--hover-button-bg-color:var(--green-100);--button-outline-color:var(--green-200)}
    .bg-emerald-light {background-color: var(--emerald-50);color:var(--gray-800);--hover-button-bg-color:var(--emerald-100);--button-outline-color:var(--emerald-200)}
    .bg-teal-light {background-color: var(--teal-50);color:var(--gray-800);--hover-button-bg-color:var(--teal-100);--button-outline-color:var(--teal-200)}
    .bg-cyan-light {background-color: var(--cyan-50);color:var(--gray-800);--hover-button-bg-color:var(--cyan-100);--button-outline-color:var(--cyan-200)}
    .bg-sky-light {background-color: var(--sky-50);color:var(--gray-800);--hover-button-bg-color:var(--sky-100);--button-outline-color:var(--sky-200)}
    .bg-blue-light {background-color: var(--blue-50);color:var(--gray-800);--hover-button-bg-color:var(--blue-100);--button-outline-color:var(--blue-200)}
    .bg-indigo-light {background-color: var(--indigo-50);color:var(--gray-800);--hover-button-bg-color:var(--indigo-100);--button-outline-color:var(--indigo-200)}
    .bg-violet-light {background-color: var(--violet-50);color:var(--gray-800);--hover-button-bg-color:var(--violet-100);--button-outline-color:var(--violet-200)}
    .bg-purple-light {background-color: var(--purple-50);color:var(--gray-800);--hover-button-bg-color:var(--purple-100);--button-outline-color:var(--purple-200)}
    .bg-fuchsia-light {background-color: var(--fuchsia-50);color:var(--gray-800);--hover-button-bg-color:var(--fuchsia-100);--button-outline-color:var(--fuchsia-200)}
    .bg-pink-light {background-color: var(--pink-50);color:var(--gray-800);--hover-button-bg-color:var(--pink-100);--button-outline-color:var(--pink-200)}
    .bg-rose-light {background-color: var(--rose-50);color:var(--gray-800);--hover-button-bg-color:var(--rose-100);--button-outline-color:var(--rose-200)}

    .text-primary {color: var(--primary-500)}
    .text-secondary {color: var(--secondary-500)}
    .text-accent {color: var(--accent-500)}
    .text-red {color: var(--red-500)}
    .text-orange {color: var(--orange-500)}
    .text-amber {color: var(--amber-500)}
    .text-yellow {color: var(--yellow-500)}
    .text-lime {color: var(--lime-500)}
    .text-green {color: var(--green-500)}
    .text-emerald {color: var(--emerald-500)}
    .text-teal {color: var(--teal-500)}
    .text-cyan {color: var(--cyan-500)}
    .text-sky {color: var(--sky-500)}
    .text-blue {color: var(--blue-500)}
    .text-indigo {color: var(--indigo-500)}
    .text-violet {color: var(--violet-500)}
    .text-purple {color: var(--purple-500)}
    .text-fuchsia {color: var(--fuchsia-500)}
    .text-pink {color: var(--pink-500)}
    .text-rose {color: var(--rose-500)}

    &[data-theme="dark"] {
        .bg-black {background-color: var(--gray-800);color:var(--gray-100);--hover-button-bg-color:var(--gray-700);--button-outline-color:var(--gray-800)}
        .bg-white {background-color: var(--gray-0);color:var(--gray-800);--hover-button-bg-color:var(--gray-100);--button-outline-color:var(--gray-200)}

        .dark\:bg-primary {background-color: var(--primary-600);color:var(--gray-100);--hover-button-bg-color:var(--primary-500);--button-outline-color:var(--primary-600)}
        .dark\:bg-secondary {background-color: var(--secondary-600);color:var(--gray-100);--hover-button-bg-color:var(--secondary-500);--button-outline-color:var(--secondary-600)}
        .dark\:bg-accent {background-color: var(--accent-600);color:var(--gray-100);--hover-button-bg-color:var(--accent-500);--button-outline-color:var(--accent-600)}
        .dark\:bg-success {background-color: var(--success-600);color:var(--gray-100);--hover-button-bg-color:var(--success-500);--button-outline-color:var(--success-600)}
        .dark\:bg-warning {background-color: var(--warning-600);color:var(--gray-100);--hover-button-bg-color:var(--warning-500);--button-outline-color:var(--warning-600)}
        .dark\:bg-danger {background-color: var(--danger-600);color:var(--gray-100);--hover-button-bg-color:var(--danger-500);--button-outline-color:var(--danger-600)}
        .dark\:bg-white {background-color: var(--gray-0);color:var(--gray-800);--hover-button-bg-color:var(--gray-100);--button-outline-color:var(--gray-200)}
        .dark\:bg-black {background-color: var(--gray-800);color:var(--gray-100);--hover-button-bg-color:var(--gray-700);--button-outline-color:var(--gray-800)}
        .dark\:bg-red {background-color: var(--red-700);color:var(--gray-100);--hover-button-bg-color:var(--red-600);--button-outline-color:var(--red-700)}
        .dark\:bg-orange {background-color: var(--orange-600);color:var(--gray-100);--hover-button-bg-color:var(--orange-500);--button-outline-color:var(--orange-600)}
        .dark\:bg-amber {background-color: var(--amber-400);color:var(--gray-700);--hover-button-bg-color:var(--amber-300);--button-outline-color:var(--amber-400)}
        .dark\:bg-yellow {background-color: var(--yellow-400);color:var(--gray-700);--hover-button-bg-color:var(--yellow-300);--button-outline-color:var(--yellow-400)}
        .dark\:bg-lime {background-color: var(--lime-600);color:var(--gray-100);--hover-button-bg-color:var(--lime-500);--button-outline-color:var(--lime-600)}
        .dark\:bg-green {background-color: var(--green-600);color:var(--gray-100);--hover-button-bg-color:var(--green-500);--button-outline-color:var(--green-600)}
        .dark\:bg-emerald {background-color: var(--emerald-600);color:var(--gray-100);--hover-button-bg-color:var(--emerald-500);--button-outline-color:var(--emerald-600)}
        .dark\:bg-teal {background-color: var(--teal-600);color:var(--gray-100);--hover-button-bg-color:var(--teal-500);--button-outline-color:var(--teal-600)}
        .dark\:bg-cyan {background-color: var(--cyan-600);color:var(--gray-100);--hover-button-bg-color:var(--cyan-500);--button-outline-color:var(--cyan-600)}
        .dark\:bg-sky {background-color: var(--sky-600);color:var(--gray-100);--hover-button-bg-color:var(--sky-500);--button-outline-color:var(--sky-600)}
        .dark\:bg-blue {background-color: var(--blue-600);color:var(--gray-100);--hover-button-bg-color:var(--blue-500);--button-outline-color:var(--blue-600)}
        .dark\:bg-indigo {background-color: var(--indigo-600);color:var(--gray-100);--hover-button-bg-color:var(--indigo-500);--button-outline-color:var(--indigo-600)}
        .dark\:bg-violet {background-color: var(--violet-600);color:var(--gray-100);--hover-button-bg-color:var(--violet-500);--button-outline-color:var(--violet-600)}
        .dark\:bg-purple {background-color: var(--purple-600);color:var(--gray-100);--hover-button-bg-color:var(--purple-500);--button-outline-color:var(--purple-600)}
        .dark\:bg-fuchsia {background-color: var(--fuchsia-600);color:var(--gray-100);--hover-button-bg-color:var(--fuchsia-500);--button-outline-color:var(--fuchsia-600)}
        .dark\:bg-pink {background-color: var(--pink-600);color:var(--gray-100);--hover-button-bg-color:var(--pink-500);--button-outline-color:var(--pink-600)}
        .dark\:bg-rose {background-color: var(--rose-600);color:var(--gray-100);--hover-button-bg-color:var(--rose-500);--button-outline-color:var(--rose-600)}
    }
}

:root {
    font-size: 16px;
    font-family: poppins, sans-serif, tahoma;
}

*:focus-visible {
    outline: 0;
}

[data-role="card"] {
    padding: 2rem;
    background-color: var(--card-bg-color);
}

.box {
    padding: 2rem;
    outline: 1px solid var(--outline-color);

    &.box-rounded {
        border-radius: 0.5rem;
    }

    &.outline-thick {
        outline-width: 3px;
    }
}

[data-role="button"] {
    padding: 0.8rem 1.45rem;
    border: 0;
    border-radius: 0.25rem;
    background-color: var(--button-bg-color);
    font-size: 0.9rem;
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--button-outline-color, var(--outline-color));
    color: var(--text-color);
    position:relative;

    &:hover {
        background-color: var(--hover-button-bg-color) !important;
    }

    &:active {
        top: 2px;
    }

    &.button-pill {
        border-radius: 1.8em;
    }
}

@layer {
    h1,h2,h3,h4,h5,h6 {color: var(--header-color)}

    hr {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: var(--divider-color);

    }
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    position: relative;
}