[data-role="image-uploader"] {
  width: 320px;
  height: 320px;
  background-color: #1a1a1a;
  position: relative;

  .dz-message {
    display: none;
  }

  img.preview {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: none;
    object-position: center;
    object-fit: var(--object-fit, contain);
  }

  &[data-filename] {
    img.preview {
      display: block;
    }
  }
}